* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:active,
:focus {
  outline: 0;
}
a:active,
a:focus {
  outline: 0;
}
aside,
footer,
header,
nav {
  display: block;
}
body,
html {
  height: 100%;
  width: 100%;
  line-height: normal;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
button,
input,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
body {
  font-family: "Trebuchet MS", sans-serif;
  background: #eef1f7;
  overflow-x: hidden;
  color: #101010;
  height: 100%;
  width: 100vw;
  cursor: default;
  position: relative;
}

/* ---------------------- scrollbar -------------------- */

body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background: none;
}
body::-webkit-scrollbar-thumb {
  background-color: #c3c3c3;
  border-radius: 12px;
  border: 2px solid #f7f9ff;
}

/* ----------------- Default classes ---------------- */

.panel {
  position: relative;
  margin: 0 auto;
  padding: 0 32px;
  max-width: 1280px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.button {
  border-radius: 24px;
  padding: 16px;
  font-size: 1.2rem;
  transition: all 0.15s;
  background: #3d6ad2;
  color: #fff;
}

input.error {
  border: 2px solid #ea2f2f;
}

.btn-icon {
  width: 28px;
  height: 28px;
  margin: 0;
}

.button:hover {
  opacity: 0.8;
}

.footer {
  padding: 32px 0;
}

.footer__text a {
  text-decoration: underline;
}

.footer__text a img {
  opacity: 0.4;
}

.footer__text {
  margin: 6px 0;
  text-align: center;
  color: #10101040;
}

/* --------------------------------------------------- */

.header {
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__name {
  font-size: 3rem;
  font-weight: 700;
}

.header__description {
  font-size: 1.5rem;
  font-weight: 400;
  color: #08080880;
}

.header__add-btn {
  background: inherit;
  transition: all 0.15s;
}

.header__add-btn:hover {
  background: #e6edff;
  opacity: 1;
  transform: scale(1.1);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.navigation__link {
  padding: 16px;
  border-radius: 24px;
  background: #ffffff;
  box-shadow: 0px 2px 5px#08080820;
  cursor: pointer;
  transition: all 0.15s;
}

.navigation__link_active {
  background: #3d6ad2;
  transform: scale(1.2);
}

.navigation__link_active img {
  filter: brightness(0) invert(1);
}

.navigation__link:hover {
  transform: scale(1.1);
}

.navigation__link_active:hover {
  background: #3d6ad2;
  transform: scale(1.2);
}

/* ---------------------- main -------------------------- */

.main {
  flex: 1 auto;
}

.main__head {
  padding: 32px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__title {
  font-size: 2.5rem;
  margin: 0 0 12px;
}

.main__subtitle {
  font-size: 1.5rem;
  margin: 0 0 16px;
  opacity: 0.4;
}

.main__habbit-delete-btn {
  font-size: 1.2rem;
  padding: 6px 12px;
  border: 2px solid #080808;
  border-radius: 12px;
  opacity: 0.4;
  transition: all 0.15s;
}

.main__habbit-delete-btn:hover {
  border: 2px solid #ec5b5b;
  opacity: 1;
  color: #fff;
  background: #ec5b5b;
}

.main__habbit-delete-btn:focus {
  border: 2px solid #080808;
  opacity: 0.4;
  color: #080808;
  background: inherit;
}

.main__habbit-delete-btn img {
  vertical-align: middle;
}

.progress {
  width: 100%;
  max-width: 300px;
}

.progress__text {
  color: #2350baba;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 12px;
  gap: 12px;
}

.progress__bar {
  height: 10px;
  width: 100%;
  background-color: #2350ba1a;
  border-radius: 12px;
  position: relative;
}

.progress__cover-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  background-color: #3d6ad2;
  transition: all 0.3s;
  border-radius: 12px;
}

.progress__name {
  font-size: 1.5rem;
}

.progress__percent {
  font-size: 1.5rem;
}

/* ---------------------- main content --------------------- */

.main__content {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.habits {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.habbit {
  padding: 12px 24px;
  background: #ffffff;
  border-radius: 24px;
  display: flex;
  align-items: center;
  gap: 16px;
  box-shadow: 0px 2px 5px#08080820;
}

.habbit__day {
  font-size: 1.2rem;
  color: #3d6ad2;
  text-wrap: nowrap;
}

.habbit__form {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}

.input {
  width: 100%;
  font-size: 1.2rem;
  border-radius: 20px;
  padding: 12px;
  border: 2px solid #3d6ad265;
}

.input:focus {
  border: 2px solid #3d6ad2;
}

.habbit__delete {
  background: inherit;
  transition: all 0.15s;
}

.habbit__delete:hover {
  opacity: 0.7;
}

.habbit__delete img {
  width: 24px;
  height: 24px;
}

.habbit__add {
  background: #fff;
  transition: all 0.15s;
  text-wrap: nowrap;
  border-radius: 20px;
  font-size: 1.2rem;
  color: #3d6ad2;
  padding: 12px 24px;
  border: 2px solid #3d6ad260;
}

.habbit__add:hover {
  opacity: 0.7;
}

/* -------------------- popup styles ---------------------- */

.cover {
  position: absolute;
  background: #10101020;
  backdrop-filter: blur(3px);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  top: 0;
  left: 0;
}

.cover_hidden {
  display: none;
}

.popup {
  position: relative;
  min-width: 500px;
  background: #fff;
  padding: 24px;
  border-radius: 24px;
}

.popup h2 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin: 0 0 24px;
}

.popup__close-btn {
  position: absolute;
  right: -32px;
  top: -24px;
  padding: 3px;
  background: none;
  transition: all 0.15s;
}

.popup__close-btn:hover {
  transform: scale(1.2);
}

.popup__icon-label {
  text-align: center;
  font-size: 1.2rem;
  margin: 0 0 16px;
}

.popup__icon-select {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
  margin: 0 0 24px;
}

.popup__form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.popup__icon-btn {
  background: inherit;
}

.popup__icon-btn img {
  width: 28px;
  height: 28px;
  margin: 0;
}

.popup__icon-btn_active {
  background: #3d6ad2;
}

.popup__icon-btn:hover {
  opacity: 1;
  transform: scale(1.1);
}

.popup__icon-btn_active:hover {
  transform: scale(1);
}

.popup__icon-btn_active img {
  filter: brightness(0) invert(1);
}

.popup__button {
  color: #ffffff;
  background: #3d6ad2;
  padding: 14px 16px;
}

/* Adaptive */

.habbit__delete-mobile {
  display: none;
}

@media (max-width: 768px) {
  .main__head {
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 32px;
    padding: 0 0 32px;
  }
  .main__content {
    padding: 0 0 32px;
  }
  .header {
    gap: 16px;
  }
  .header__text {
    display: none;
  }
  .navigation {
    gap: 16px;
  }
  .navigation__link {
    padding: 16px;
  }
  .btn-icon {
    width: 24px;
    height: 24px;
  }
  .panel {
    padding: 0 16px;
  }
  .progress {
    max-width: 100%;
  }
  .main__title {
    font-size: 2rem;
  }
  .main__subtitle {
    font-size: 1.5rem;
  }
  .habbit {
    flex-direction: column;
    padding: 16px;
    gap: 16px;
  }
  .habbit__form {
    gap: 8px;
  }
  .habbit__form_adaptive {
    flex-direction: column;
    align-items: center;
  }
  .habbit__add {
    width: 100%;
    font-size: 1.2rem;
  }
  .input {
    font-size: 1.2rem;
  }
  .habbit__day {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .habbit__delete img {
    width: 22px;
    height: 22px;
  }
  .popup {
    min-width: 300px;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .popup__close-btn {
    right: 24px;
    top: 24px;
  }
  .habbit__delete-mobile {
    display: block;
  }
  .habbit__delete-desktop {
    display: none;
  }
  .footer__text {
    font-size: 1.2rem;
  }
  .popup h2 {
    margin: 0 0 8px;
    text-align: start;
  }
  .popup__icon-label {
    text-align: start;
  }
  .popup__icon-btn {
    padding: 12px;
  }
  .popup__icon-select {
    gap: 10px;
  }
}
