* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:active,
:focus {
  outline: 0;
}
a:active,
a:focus {
  outline: 0;
}
aside,
footer,
header,
nav {
  display: block;
}
body,
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
button,
input,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
body {
  font-family: "Trebuchet MS", sans-serif;
  background: #202020;
  color: #fff;
  height: 100%;
  width: 100%;
}

/* ----------------- Default classes ---------------- */

.wrapper {
  padding: 0 24px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  max-width: 1440px;
}

.button {
  border-radius: 20px;
  padding: 16px 32px;
  font-size: 1.5rem;
  transition: all 0.15s;
}

.close-button {
  border-radius: 24px;
  background: none;
  border: 2px solid #fff;
  transition: all 0.15s;
}

.close-button:hover {
  transform: scale(1.1);
}

.modal {
  padding: 12px;
  border-radius: 24px;
  background: #101010;
  width: fit-content;
}

.modal-items {
  display: flex;
  gap: 12px;
  align-items: flex-start;
  justify-content: center;
}

.modal-container {
  display: none;
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: #202020c0;
  backdrop-filter: blur(8px);
}

.active {
  display: flex;
}

.modal__img {
  width: 100%;
  height: auto;
  max-width: 250px;
}

.notification {
  display: none;
  padding: 16px 32px;
  font-size: 1.5rem;
  background-color: #202020;
  border: 2px solid #ffca67;
  position: fixed;
  top: 32px;
  right: 32px;
  z-index: 10;
  border-radius: 20px;
  transition: all 0.15s;
}

/* --------------------------------------------------- */

.first {
  padding: 32px 0;
}

.first__image {
  width: 100%;
  height: auto;
  max-width: 200px;
  margin: 0 -15px -10px 0;
}

.first__panel {
  background-color: #303030;
  padding: 64px;
  border-radius: 32px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 24px;
  font-size: 2rem;
}

.first__form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

.first__input {
  width: 100%;
  border-radius: 20px;
  padding: 16px 12px;
  font-size: 1.5rem;
  color: #fff;
  background-color: #303030;
}

.primary-button_msg {
  border-radius: 20px 20px 20px 4px;
}

.primary-button:hover {
  background: #ffca67;
  color: #462900;
  transform: scale(1.05);
}
